<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>commission-quote-api</title>
  </head>
  <body>
    <h1>Commission Quote</h1>

    <div id="dev-mode" hidden style="padding-bottom: 1em;">
    <label for="chaosMode">Chaos Mode</label>
      <input id="chaosMode" name="chaosMode" type="checkbox" />
    <label for="apiKey" title="Leave blank to use system-sourced API key">Override API Key</label>
      <input id="apiKey" name="apiKey" length="100" />
    </div>

    <form id="quote-form">
      <label for="loanAmount">Loan Amount</label>
      <input type="number" id="loanAmount" name="loanAmount" min="0" step="1" required />

      <label for="loanTermInMonths">Loan Term (months)</label>
      <input type="number" id="loanTermInMonths" name="loanTermInMonths" min="1" step="1" required />

      <label for="riskBand">Risk Band</label>
      <select id="riskBand" name="riskBand" required>
        {% for item in risk_bands %}
          <option value="{{ item }}">{{ item.replace('_', ' ') | title  }}</option>
        {% endfor %}
      </select>

      <button type="submit">Generate Quote</button>
    </form>

    <p id="quote-status" role="status"></p>

    <dl id="quote-result" hidden>
      <dt>Quote ID</dt>
      <dd id="quote-id"></dd>
      <dt>Commission Rate</dt>
      <dd id="quote-commission-rate"></dd>
      <dt>Total Commission</dt>
      <dd id="quote-total-commission"></dd>
    </dl>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
